@charset "utf-8";

@font-face {
  font-family: Raleway;
  src: url('https://fonts.googleapis.com/css?family=Raleway:100,500')
}

* {
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 80%;
    max-width: 720px;
    margin: auto;
    box-sizing: border-box; 
}

.button {  
    padding-top: 40px;
    text-align: center;
}

.oneFilter_Div {
  font-size: 14px;
  background-color: transparent;
  border: 1px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.remove {
  display: inline-block;
  height: 45px;
  color: #555;
  font-size: 11px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase; 
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
  box-sizing: border-box;
}

.remove:hover {
  color: red;
  border-color: red;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

label {
	display:block;
	padding: 3px;
	margin-left: 2rem;
}

legend {
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}

fieldset {
	font-size: 14px;
	background-color: transparent;
	border: 1px;
	border-color: lightblue;
	border-style: dashed;
  border-radius: 10px;
}

p, h1, legend {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .1rem;
}

h1 {
	font-size: 50px;
	letter-spacing: .3rem;
  font-family: 'Montserrat Subrayada', 'Raleway', sans-serif;
  top: 0;
}


select {
	height: 40px;
	width: 100px;
	background-color: transparent;
	border: 1px solid #D1D1D1;
	border-radius: 4px;
}

#moreFilters {
  display: inline-block;
  height: 45px;
  color: #555;
  text-align: right;
  font-size: 11px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase; 
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
  box-sizing: border-box;
}

#moreFilters:hover {
  color: blue;
  border-color: blue;
  outline: 0;
}

#tablebutton {
    display: inline-block;
    height: 45px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase; 
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid;
    cursor: pointer;
    box-sizing: border-box; 
}

#tablebutton:hover {
  color: green;
  border-color: green;
  outline: 0;
}

#Filters {
	text-align:center;
}

#googlemaps { 
  height: 100%; 
  width: 100%; 
  position: absolute; 
  top: 0; 
  left: 0;
  z-index:0;
}


#title:hover {
  color: blue;
}

.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; 
}

  .five.columns                   { width: 39.3333333333%; }
  .four.columns                   { width: 33.3333333333%; }
  .six.columns                    { width: 50%;            }



#title { 
  position: absolute; 
  z-index: 99;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 0px;
   }

   header {
    height: 65px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 10;
    align-items: center;
  }

/* The following CSS is for the Obervations page, closely following example 
from https://www.w3schools.com/howto/howto_js_slideshow.asp */

.page {
  width: 100%;
  position: absolute;
  margin: auto;
  height: 100%;
  background: url("background1.jpg");
  background-size: 100% 100%;
}

#frontpage {
  width: 100%;
  position: absolute;
  margin: auto;
  background: url("background1.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  padding: 50px 70px 50px 70px;
}


.back, .forward {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.forward {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.7);
}

.num {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  z-index: 99;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/* fading animation: */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}  
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}  
}
/* The slideshow format css is finished, the rest of the css here is just
page formatting: */

#googleMap {
  width: : 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 99;
}

.MapWrapper {
  width: 80%;
  height: 80%;
  margin: 10% 10% 10% 10%;
  position: absolute;
  overflow: hidden;
  z-index: 50;
  border-style: dotted;
  border-width: 5px;
  border-radius: 50%;
  border-color: orange;
}


#bokehWrap {
  width: 80%;
  height: 80%;
  margin: 10% 10% 10% 10%;
  position: absolute;
}

.left {
  min-width: 50%;
  max-width: 50%;
  float: left;
  min-height: 100%;
  max-height: 100%;
  position: fixed;
}

.right {
  max-width: 50%;
  min-width: 50%;
  min-height: 100%;
  max-height: 100%;
  float: right;
}

.topright {
  position: fixed;
  top: 0;
  right: 0;
}


/* Pivot table */

#tableField h2 {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  text-transform:uppercase;
  padding-top:25px;
}

div#tableField {
  padding-bottom:200px;
  text-align:center;
}

table#pivottable {
  width:100%;
  padding:0 10px 25px 0;
}
#pivottable tr {
   padding: none;
   margin: none;
}
#pivottable td, #pivottable th {
   border: 1px solid black;
   padding: none;
   margin: none;
}
#pivottable td {
   text-align:right;
}

#pivottable th {
   background-color: #e6faff;
   text-align:center;
}
/* Cell colours for pivot table */
.bin-1 {
  background-color: #fff;
}

.bin-2 {
  background-color: #F7D6A9;
}

.bin-3 {
  background-color: #F6CD95;
}

.bin-4 {
  background-color: #F5C481;
}

.bin-5 {
  background-color: #F3BA6C;
}

.bin-6 {
  background-color: #F2B158;
}

.bin-7 {
  background-color: #F1A844;
}

.bin-8 {
  background-color: #EF9E2F;
}

.bin-9 {
  background-color: #EE951B;
}

.bin-10 {
  background-color: #ED8C07;
}

/* Observations Slide 1 */

#frontpage section {
  background-color:rgba(255,255,255, 0.7);
  overflow:auto;
  padding: 15px 25px;
  margin-bottom: 20px;
}

#frontpage figure{
  float:left;
  background-color:rgba(255,255,255, 0.7);
  width:100%;
  padding: 30px 25px;
  margin: 20px 40px 20px 0;
}


#frontpage h2{
  float:left;
}

#frontpage figure img {
  float:left;
  display:block;
  margin-right:25px;
}

#frontpage figcaption {
  margin-top:25px;
  float:left;
  display:block;
  width:500px;
}

#frontpage figcaption h2 {
  font-size: 25px;
}
#frontpage figcaption h3 {
  font-size: 25px;
  text-align:auto;
}

#frontpage p {
  font-family: sans-serif;
  text-transform: none !important;
  text-align: left;
  float:left;
}